.ARcontainer {
    position: relative;
}

.ARlabel {
    padding-bottom: 2rem;
    width: 25%;
    display: inline-block;
    font: bold 1rem arial, verdana;
}

.ARinput {
    width: 75%;
    left: 10rem;
    margin-bottom: 1rem;
}

.ARcheckbox {
    max-width: 1rem;
    max-height: 1rem;
}

.ARbutton {
    margin-left: 2rem;
    width: 20%;
}