.ARcontainer {
    position: relative;
}

.ARlabel {
    padding-bottom: 2rem;
    margin-bottom:auto;
    font: bold 1rem arial, verdana;
}

.ARinput {
    position: absolute;
    left: 10rem;
}

.ARdiv{
    margin-bottom:15rem;
    display: flex;
}