@model DynamiPageDataModel
@{
    ViewData["Title"] = Model.Title;
}
<head>
<style>
div.page {
  position: relative;
  width: 4000px;
  height: 4000px;
} 
li.item{
    padding:0px
}
</style>
</head>
<div id="top-tool-bar" class="fixed-top" style="margin-top:70px; margin-left:20px">

    <ul class="row row-cols-auto list-unstyled list">
        <li class="item">
            <input class="rounded-pill" style="background-color:#fdfdff;inset:unset" type="text" id="title" />
            <button class="btn btn-outline-primary rounded-pill" type="button" id="save" onclick="save()"> SAVE </button>
        </li>    
        <li class="item">
            <button class="btn btn-outline-primary rounded-pill" type="button" id="selectTool" onclick="currentTool='SelectTool'"> Select Tool </button>
        </li>
        <li class="item">
            <button class="btn btn-outline-primary rounded-pill" type="button" id="textTool" onclick="currentTool='TextTool'"> Text Tool </button>
        </li>
        <li class="item">
            <button class="btn btn-outline-primary rounded-pill" type="button" id="mediaTool" onclick="currentTool='MediaTool'"> Media Tool </button>
        </li>
        <li class="item">
            <button class="btn btn-outline-danger rounded-pill" type="button" id="clear" onclick="clearPage()"> Clear Page </button>
        </li>
    </ul>
</div>
@*This is where the HTML is rendered for the Users Page*@
<div id="pageDisplay" class="page" >
    
</div>
<script>
    setModel();
    
    var currentTool = "SelectTool";
    document.getElementById("pageDisplay").addEventListener("click", (event) => {
            var pageDisplayRect = document.getElementById("pageDisplay").getBoundingClientRect();
            var x = event.clientX - pageDisplayRect.left;
            var y = event.clientY - pageDisplayRect.top;
            if (currentTool == "SelectTool"){

            } else if (currentTool == "TextTool" && event.target.id=="pageDisplay"){
                addText(x, y);
                currentTool = "SelectTool";
            } else if (currentTool == "MediaTool" && event.target.id=="pageDisplay"){
                addMedia(x, y);
                currentTool = "SelectTool";
            }
    });

    function save() {
        var model = @Html.Raw(Model.ToJson());
        model.Title = document.getElementById("title").value;
        model.HTML = document.getElementById("pageDisplay").innerHTML;
        updateItem(model);
    }

    function setModel(){
        var model = @Html.Raw(Model.ToJson());
        document.getElementById("title").value = model.Title;
        document.getElementById("pageDisplay").innerHTML = model.HTML;
    }

    function addText(xPos, yPos){
        document.getElementById("pageDisplay").innerHTML += `<div style="position:absolute; top:${yPos}px; left:${xPos}px">
                                                            <button class="btn btn-danger" style="visibility:hidden; position:absolute; top:-20px; left:-10px" type="button" onclick="deleteElement(this.parentNode)">X</button>
                                                            <p onfocus="showElement(this)" onblur="setTimeout(hideElement, 400, this)" contenteditable="true" style="display:inline-block;">Some text for thought</p></div>`;
    }

    function addMedia(xPos, yPos){
        document.getElementById("pageDisplay").innerHTML += `<div style="position:absolute; top:${yPos}px; left:${xPos}px">
                                                            <form><input type="file"></input><button type="submit">Submit</button></form></div>`;
        
    }
    
    function hideElement(obj){
        obj.previousElementSibling.style.visibility = "hidden";
    }

    function showElement(obj){
        obj.previousElementSibling.style.visibility = "visible";
    }

    function deleteElement(obj){
        obj.parentNode.removeChild(obj);
    }

    function clearPage(){
        document.getElementById("pageDisplay").innerHTML = "";
    }

    
</script>