.Clabel {
    width: 10%;
    min-width: 6rem;
    font: bold 1rem arial, verdana;
}

.Ctextarea{
    width:50%;
}
.Crow{
    margin-bottom:1rem;
}
.Cdate{
    min-width: 15rem;
    width:45%
}